<div id="content">
    <header id="mainTitle" class="logo">
        <h1 id="pageTitle">Who?What?When?Where?Why?</h1>
        <h2 id="subhead">a Mongo Scraper app</h2>
    </header>
    <nav>
        <ul id="navBar">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/saved">Saved Articles</a>
            </li>
            <li>
                <a href="/scrape">Scrape New Articles</a>
            </li>
        </ul>
    </nav>
    <main id="articles">
       
    </main>
    <section id="notes">

    </section>
    
    <footer>

    </footer>

</div>